// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://db.onlinewebfonts.com/c/37dac052614e6b0313388bb20acdc929?family=Roboto+Condensed+Medium");
* {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed Medium", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.q-tab__label {
  font-size: 17px;
  font-weight: 700;
}

#projectsIndex .q-carousel__control.q-carousel__navigation {
  right: 100px !important;
}

#articlesIndex .q-carousel__control.q-carousel__navigation {
  right: 100px !important;
}

#announcementIndex .q-carousel__control.q-carousel__navigation {
  right: 850px !important;
}

// .q-card > img:last-child {
//   border-bottom-left-radius: 0 !important;
//   border-bottom-right-radius: 0 !important;
// }
